
h2 {text-align: center;}


.container { 
    margin-left: 20%;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 220%;
  }

  td, th {
    border: 3px solid #556dad;
    text-align: center;
    padding: 8px;
    vertical-align: inherit;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }