

 .panel-heading{
    background-color: rgb(237, 220, 255);
    
}

/* =================Login component==================== */
.login-form {
    width: 445px;
    margin: 0 auto; 
    float: none;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 4%;
}

.login-form:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
} 

.login-form form {
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 22px 30px 5px 30px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
    min-height: 10vh;
}

.login-form h2 {
    margin: 0 0 15px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
}

.form-control {
    min-height: 6px;
    border-radius: 5px;
}

.btn {        
    height: 35px;
    border-radius: 20px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
}

.form-group{
  padding: 0px 70px 0px 70px;
}

/* ================================================================================ */