/*--------------------------------------------------------------
# wedding
--------------------------------------------------------------*/
/* .wedding {
    background: url("/assets/images/hindu.jpg") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
  }
  
  .wedding::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9;
  }
  
  .wedding .container {
    position: relative;
    z-index: 10;
  }
  
  .wedding .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  .wedding .member .pic {
    overflow: hidden;
  }
  
  .wedding .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 0;
    color: #433f39;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .wedding .member h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: #6c665c;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .wedding .member h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #ffcf88;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .wedding .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .wedding .member .social {
    margin-top: 15px;
  }
  
  .wedding .member .social a {
    transition: color 0.3s;
    color: #7a7368;
  }
  
  .wedding .member .social a:hover {
    color: #ffb03b;
  }
  
  .wedding .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
  
  @media (max-width: 992px) {
    .wedding .member {
      margin-bottom: 110px;
    }
  }
  
  @media (min-width: 1024px) {
    .wedding {
      background-attachment: fixed;
    }
  }
  .img-fluid{
      width: 100%;
      height: 250px;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", sans-serif;
  }

section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}


.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 400;
  font-family: "Lato","Noto Sans JP","Noto Sans KR","Lucida Grande","Segoe UI","Tahoma","-apple-system","Roboto",sans-serif;

}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
} */
/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
  margin-top: 5%;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #4e4d4c;
  border-radius: 15px;
  border-right: 2px solid #e8e7e4;
  font-weight: 400;
  font-size: 15px;
  /* background: #ffb03b; */
}

.specials .nav-link:hover {
  /* color: #ffb03b; */
  color: #fff;
  background: #c94d05;
}

/* .specials .nav-link .active {
  color: #c94d05;
  border-color: #ffb03b;
} */

.specials .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #433f39;
}

.specials .details p {
  color: #636363;
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
  .specials .nav-link.active {
    color: #fff;
    background: #c94d05;
  }
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #c94d05;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 400;
  font-family: "Lato","Noto Sans JP","Noto Sans KR","Lucida Grande","Segoe UI","Tahoma","-apple-system","Roboto",sans-serif;

}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", sans-serif;
}
.details h3 span {
  color: #c94d05;
}
.img-fluid{
  margin-top: 30%;
  border-radius: 50%;
  height: 240px;
  width: 100%;
}
.nav .nav-pills{
  background: #c94d05;
}
