<!-- <section id="wedding" class="wedding">
  <div class="container">
    <div class="section-title">
      <h2>Regional <span>Wedding</span></h2>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row">

      <div class="col-md-4 col-xs-12 col-md-4">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/hindu.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>NORTH INDIAN WEDDING</h4>
            <span>Hindhu</span>

          </div>
        </div>
      </div>

      <div class="col-md-4  col-xs-12 col-md-4">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/muslim.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>ISLAMIC WEDDINGS</h4>
            <span>Muslim</span>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/christian.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>CHRISTIAN WEDDINGS</h4>
            <span>christians</span>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/bihari-weddings.jpg " class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>BIHARI WEDDINGS</h4>
            <span>Bihari</span>

          </div>
        </div>
      </div>


      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/south indian marriage.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>SOUTH INDIAN WEDDINGS</h4>
            <span>Hindhu</span>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/Gujrati-weddings.jpg " class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>GUJRATI WEDDINGS</h4>
            <span>Gujrati</span>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/mharastrian-weddings.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>MAHARASTRIAN INDIAN WEDDINGS</h4>
            <span>Maharastrian</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/parsi-weddings.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>PARSI WEDDINGS</h4>
            <span>Parsi</span>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-md-4" style="margin-top: 2%;">
        <div class="member">
          <div class="pic"><img src="./assets/images/wedding.Img/sikh-weddings.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>SIKH WEDDINGS</h4>
            <span>Sikh</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Regional <span>Wedding's</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-12 col-sm-5 text-center">
            <ul class="nav nav-tabs nav-stacked">
              <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#tab-1">South Indian</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Hindu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Muslim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Christian</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Punjabi and Sikh</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Gujrati</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">Oriya and Bihari</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">Maharastrian</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-9">Paris</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-7">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-1">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1 ">
                    <h3><span>South Indian</span> Wedding</h3>
                    <p>In India, marriage is not just a union of two people. It is the union of two families. Marriage is the strongest social bond that takes place between a man and a woman. In a South Indian marriage, it is viewed as a lifelong commitment of husband and wife to each other. Hindu marriages differ from each region, with their own cultural customs. Exchange of garlands, tying the mangalasutra and going around the holy fire are some of the customs which are common to all marriages.</p>
                    <p>The marriage could be either arranged marriage or love marriage. In arranged marriage, the boy and girl meet each other through a medium which is usually parents or matrimonial agency. In love marriages of a South Indian marriage, the process itself begins only with good understanding between the boy and the girl and only depends on parents’ consent and acceptance. But this does not happen that easily, though trend is changing fast. The disadvantage in this type of South Indian marriage is that the couples are less supported by the parents in their married life as the initial decision and responsibility rested with the couples themselves.</p>
                  </div>
                  <div class="col-md-4 col-sm-5 text-center ">
                    <img src="./assets/Images/wedding.Img/south indian marriage.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-2">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Hindu</span> Wedding</h3>
                    <p>Hindu marriages imply customs, rituals and elaborate celebrations. A conventional Hindu wedding ceremony mostly lasts for four to five days. The function is divided into three parts pre wedding ceremony, main day ceremony and post wedding ceremony. If you are planning to have a traditional Hindu wedding in India, then the best way to organize is through Indian Wedding Planners. We offer you the quality services at a pittance of what you would be required to pay on your behalf.</p>
                    <p>In a Hindu indian wedding, the wedding ambiance is set a week before the wedding. There are various rituals, which are followed before and after the wedding. We have got an experience of conducting 100 such weddings in last five years starting from a mid size wedding to very upscale royal weddings. There are few functions which need to be organized prior any Hindu wedding to take place. We can plan the following events in 2, 3 or 4 days depending upon the client’s requirements and budget limitation.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/hindu.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-3">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Muslim</span> Wedding</h3>
                    <p>In Islam, marriage is a social and legal relationship intended to strengthen and extend family relationships. Islamic marriage begins with a search for an appropriate partner, and is solemnized with an agreement of marriage, the contract, and the wedding party. When searching for a spouse, Muslims often involve an extended network of friends and family. Most of the weddings are arranged and the boy and the girl have the final decision in selecting their prospective bride or the groom.</p>
                    <p>After a couple signs the Islamic marriage contract, families usually hold a public wedding party. In the Muslim world, there are colorful, cultural variations from place to place. The various wedding traditions reflect the diversity of the Muslim world. Wedding ceremony is known as ‘Nikaah’ in Urdu</p>
                    <p>Muslim weddings are conducted as per Islamic traditions. Pre-marriage rituals may differ slightly in different countries. Muslims in India and Pakistan conduct the wedding as per the wedding rituals in Middle Eastern countries. Muslim wedding rituals or Nikaah rituals can be broadly divided in three categories, namely pre-marriage rituals, the wedding ceremony and the post marriage rituals.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/muslim.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-4">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Christian</span> Wedding</h3>
                    <p>In Christianity, marriages are considered the union between man and woman predestined by God. The sanctity of the institution can be made clear from Jesus message, which lays down that wedding is a relationship, a union so real and intimate that 'the two become one flesh'. The Christian wedding rituals are conducted in church, amidst all friends and family members.</p>
                    <p>On the wedding day, after bride arrives at the church, the best man of the groom welcomes her with a bouquet of flowers. Then the couple walks down the corridor gracefully to reach the altar. There the priest awaits them and offers them best wishes. He then reads psalms from the Hoy Bible, which is followed by sermon called Homily on the sacredness of the wedding. Following this, he asks question to the bride and the groom regarding their consent for the marriage.</p>
                    <p>The couple makes promises to stay with each other through thick and thin and exchange rings. These rings are blessed by the priest first, to instill love and faith between the two. The Christian wedding is followed by a Reception, which is a celebration party.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/christian.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-5">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Punjabi and Sikh</span> Wedding</h3>
                    <p>Punjabi and Sikh weddings are depicted by their chirpy celebrations that are a reflection of their exuberance towards life in general. They are solemnized late in the night and involve all nightlong dancing- an aspect that is now increasingly been incorporated in the weddings of other communities as well. These type of weddings are real source of delight for everyone. The different types of Punjabi/Sikh marriage rituals include Roka, Mehendi, Milni and Varmala/ Jaimala.</p>
                    <p>The Punjabi as well as Sikh wedding ceremony generally takes place late in the evening, after dinner. As the auspicious time for the marriage comes near, a puja is performed for the groom by the priest. Then as the bride is escorted to the wedding mandap, the priest performs another puja with the couple and their respective parents.</p>
                    <p>This is followed by the kanyadan ceremony where the father gives away his daughter to the groom. Next ritual is the pheras where the couple encircles the ceremonial fire seven times. This concludes the marriage ceremony after which couple receives blessings from all their elders.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/sikh-weddings.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-6">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Gujrati</span> Wedding</h3>
                    <p>The Gujarati community reflects unparalleled enthusiasm in the affairs of matrimonial alliance. Their weddings are planned on a grand scale and their rituals are very colorful. It is important to note that like all Indian communities, there may be a slight differentiation in matrimonial and rituals performed in various Gujarati sects like the Gujarati Patels and Gujarati Naagar Brahmins. However, the difference is negligible.</p>
                    <p>It is interesting to note that unlike most Indian communities where dowry plays a vital role, the Gujaratis have proved to be quite progressive. In case of the Naagar Brahmins, their girls are often married off with no expectations of wealth from the in-laws side. This is called kanku-kanya, meaning that the bride is welcome only with a vermilion mark on her forehead.</p>
                    <p>To add more, our team has worked with majority of big clients and has successfully catered according to the client’s requirements from concept to finish. Our company delivers vidhi items to gujaratis for their very special day. Clients can avail these items from us in varied sizes and color options in order to meet their needs. Moreover, we offer our clients these products at competitive prices.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/Gujrati-weddings.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-7">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Oriya and Bihari</span> Wedding</h3>
                    <p>Oriya marriage happens primarily in the Orissa state. The wedding ceremony and rituals bear strong resemblance with Hindi traditional marriage ceremony but are distinctive in certain aspects. The Oriya natives are simple and do not believe in showy culture.Pre-wedding rituals begins with Jayee Anukolo ceremony wherein invitation cards are distributed to near and dear ones.</p>
                    <p>When the groom arrives at the marriage venue with procession, it is called as Barajatri. Another ritual is Baadua Pani Gadhua custom, in which bride takes ceremonial bath for her special day. During the marriage, the bride and groom are taken to the mandap where kanyadaan ritual is performed. In this ritual, father of the bride gives responsibility of her daughter to the groom for life time.</p>
                    <p>Once the newlywed couple reaches the groom’s home, they are given warm hearted welcome by his family. The entering of bride in the marital home for first time is known as Grihpravesh. This is followed by the Astha Mangala custom in which the newly-wed couple visits the bride's house, on the eighth day after marriage. Here, they are given a cheerful welcome and treated with sumptuous food.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/bihari-weddings.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-8">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Maharastrian</span> Wedding</h3>
                    <p>Maharashtrian marriage is perhaps the simplest and the least luxurious in the whole country. Unlike other weddings, most of the rituals are preformed early in the morning. The marriage procedure starts with finding a suitable counterpart. After this, the horoscope of the boy and the girl are matched by the purohits. After the horoscopes match, the mahurut for the wedding is taken out. This is followed by the preparations for the marriage, with the wedding rituals being performed along side.</p>
                    <p>Sakhar Puda ceremony is the initial ritual which takes place in any Maharashtrian wedding. It can be termed as the engagement, wherein the bride is given a sari, and sweet or sugar, by the groom's family. Next is the Kelvan ceremony, which is performed at both the bride's and the groom's house followed by Haldi ceremony.</p>
                    <p>After wedding, Grihapravesh is the first ritual conducted and the groom's mother welcomes the new couple and washes their feet with milk and water. The couple enters the house with their right foot. Last but not the least reception party is organized, wherein sumptuous food is served to the guests</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/mharastrian-weddings.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-9">
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-sm-7 details order-2 order-md-1">
                    <h3><span>Parsi</span> Wedding</h3>
                    <p>Parsi marriage is known as 'Lagan' and is conducted with great zeal and fervor. The customs and traditions observed in the Parsi marriage are quite different from the traditional Hindu marriage. This makes them a lot more fun and interesting. The rituals performed during the wedding are quite simple and provide full opportunity for enjoyment. However, like other regional marriages, Parsi marriages also have a number of rituals which extend over a week.</p>
                    <p>For a Parsi wedding a stage is set in a baug or agiary, the Fire Temple. Here, before the groom steps on the stage, the bride's mother performs a ritual called Achumichu. She holds a tray containing a raw egg, supari, rice, coconut, dates and water. She circles all these items, except water, seven times around the groom's head and throws on the floor. The water is thrown on either side.</p>
                    <p>These Parsi weddings are renowned for their grand reception party. It is an ideal opportunity to experience the culture, dance, music and food of the community, at its best.</p>
                  </div>
                  <div class="col-md-4 text-center ">
                    <img src="./assets/Images/wedding.Img/parsi-weddings.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


