<div class="container">
    <div class="section-title">
        <h2><span>Service</span> Organizing</h2>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>
    <div class="row">
      <div class="carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "contain": true, "pageDots": false, "autoPlay": 1500,
      "pauseAutoPlayOnHover": true }'>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/servicsOrganizing.Img/band.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Band</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, provident. Voluptatum voluptates eum accusantium tempora, soluta incidunt animi, distinctio ab mollitia veritatis debitis deleniti perferendis dolorem ipsam optio hic cumque!
                    </p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/servicsOrganizing.Img/flowerDecoration.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Flower Decoration</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, provident. Voluptatum voluptates eum accusantium tempora, soluta incidunt animi, distinctio ab mollitia veritatis debitis deleniti perferendis dolorem ipsam optio hic cumque!

                    </p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/servicsOrganizing.Img/flowers.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Flowers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quisquam, sed dicta similique esse doloribus atque error adipisci ea voluptate necessitatibus eligendi vero quidem eos perspiciatis eius, dolores repellendus ipsa?</p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/servicsOrganizing.Img/music.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Music</h3> 
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, magnam? Libero laborum ea eos excepturi aperiam delectus! Modi, earum quod. Officia, laudantium natus? Iusto voluptates molestiae sit porro ipsam natus?
                    </p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/servicsOrganizing.Img/photography.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>photography</h3>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid provident facilis quod sit ipsam ducimus quis harum placeat, recusandae praesentium error, qui sed corrupti numquam laudantium exercitationem itaque natus est!
                    </p>
                    <p>
                        <a href="#"  class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>