
.gallery {
    padding-bottom: 0;
  }
  .gallery-item {
    position: relative;
  }
  .text-block {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.651);
    color: #ffb03b;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .text-block p{
      color: #fff;
    font-family: "Lato","Noto Sans JP","Noto Sans KR","Lucida Grande","Segoe UI","Tahoma","-apple-system","Roboto",sans-serif;

  }
  .text-block h4{
      font-weight: 500;
  }
  .gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .gallery .gallery-item img {
    transition: all ease-in-out 0.8s;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }
.img-fluid{
    height: 240px;
    width: 100%;
    transition-duration: 0.8s;
    position: relative;

}
.text-bottom{
    position: absolute;
}
body {
    font-family: "Poppins", sans-serif;
    color: #444444;
  }
  
  a {
    color: #ffb03b;
  }
  
  a:hover {
    color: #ffc56e;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", sans-serif;
  }
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
  }
  
  .section-title h2 span {
    color: #c94d05;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 400;
    font-family: "Lato","Noto Sans JP","Noto Sans KR","Lucida Grande","Segoe UI","Tahoma","-apple-system","Roboto",sans-serif;

  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }
  /* ===================================================================
     recent-photos            
    ===========================================================================*/
  .recent-photos {
    overflow: hidden;
  }
  
  .recent-photos .owl-nav, .recent-photos .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  .recent-photos .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  .recent-photos .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #95d3ff !important;
  }
  
  .recent-photos .owl-dot.active {
    background-color: #006fbe !important;
  }
  
  .recent-photos .gallery-carousel .owl-stage-outer {
    overflow: visible;
  }
  
  .recent-photos .gallery-carousel .center {
    border: 6px solid #006fbe;
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
  }
  .btn-warning{
    background-color: #cc5510de;
    border-color: #cc5510de;
  }
  .btn-warning:hover{
    background-color: #c94d05;
    border-color: #cc5510de;

  }