<div class="container">

    <div class="section-title">
        <h2><span>Events</span> Organizing</h2>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
    <div class="row">
      <div class="carousel" data-flickity='{ "cellAlign": "left", "prevNextButtons": false, "wrapAround": false, "contain":      true, "pageDots": false,
      "pauseAutoPlayOnHover": true }'>
        <div class="col-md-3 col-xs-12">
          <div class="carousel-cell">
              <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/EventsOrganizing.Img/DJ night.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>DJ <br>Night</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quae vitae nisi iure a hic praesentium sint quibusdam, esse nesciunt non facere! Consequuntur illum modi inventore voluptatibus id eaque voluptas?
                    </p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/EventsOrganizing.Img/mehindi.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Mehndi <br>Ceremony</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quae vitae nisi iure a hic praesentium sint quibusdam, esse nesciunt non facere! Consequuntur illum modi inventore voluptatibus id eaque voluptas?</p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/EventsOrganizing.Img/groom aravial.png" alt="...">
                </div>
                <div class="caption">
                    <h3>Groom's aravial <br>Celebration</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores iusto expedita similique, distinctio libero modi nostrum nihil facilis aliquam possimus quam saepe, aspernatur architecto minima recusandae pariatur quo eum.</p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="carousel-cell">
            <div class="thumbnail">
                <div class="inner">
                    <img class="hvr-grow1" src="./assets/Images/EventsOrganizing.Img/sangeeth ceremony.jpg" alt="...">
                </div>
                <div class="caption">
                    <h3>Sangeeth<br>Ceremony</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia officia dolorum, rem nostrum accusantium ipsa praesentium similique a magni quasi minus reiciendis fugiat id repudiandae beatae. Veniam, quidem similique?</p>
                    <p>
                        <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>