
<div class="gallery">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Popular <span>Hotels</span></h2>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>
        <div class="row row-no-gutters">
            <div class="carousel"
                data-flickity='{ "autoPlay": 1500, "fade": true, "contain": true, "prevNextButtons": false, "pauseAutoPlayOnHover": true, "wrapAround": true }'>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="gallery-item">
                            <a href="#" class="venobox" data-gall="gallery-item">
                              <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                            </a>
                            <div class="text-block">
                              <h4>Nature Gardens</h4>
                              <p>What a beautiful sunrise</p>
                              <button type="button" class="btn btn-warning ">BookNow</button>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="carousel-cell">
                        <div class="carousel-cell">
                            <div class="gallery-item">
                                <a href="#" class="venobox" data-gall="gallery-item">
                                  <img src="./assets/Images/Garden.Img/gavin-mcgruddy-p23YJJMT16s-unsplash.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="text-block">
                                  <h4>Nature Gardens</h4>
                                  <p>What a beautiful sunrise</p>
                                  <button type="button" class="btn btn-warning ">BookNow</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
